<section class="user-section">
  <div class="user-details">
    <img class='profile-index-photo' src='<%= @user.photo %>' alt="<%= @user.name %>'s profile picture" />
    <div class="user-info">
      <p class="user-name"><%= @user.name %></p>
      <p class="user-post-counter">Number of posts: <%= @user.posts.count %></p>
    </div>
  </div>
  <div class="bio-container">
    <h3> Bio </h3>
    <p> <%= @user.bio%></p>
  </div>
  <ul class="user-recent-posts">
    <% @user.recent_post(@user.id).each_with_index do |post, index|%>
      <li>
        <h3 class="user-post_heading"> <%= link_to "Post ##{index+1}" , user_post_path(@user, post) %></h3>
        <%= link_to post.title, user_post_path(@user, post) %>
        <p class="post-text"><%= post.text %></p>
        <p class="comment-counter">
          comments: <%= post.comments.count %>,
          likes: <%= post.likes_counter %>
        </p>
      </li>
    <%end%>
  </ul>
  <a href="/users/<%= @user.id %>/posts" class="see-all-posts">See all posts </a>
</section>