<div class="user-details">
  <img class='profile-index-photo' src='<%= @user.photo %>' alt="<%= @user.name %>'s profile picture" />
    <div class="user-info">
      <p class="user-name"><%= @user.name %></p>
      <p class="user-post-counter">Number of posts: <%= @user.posts_counter %></p>
    </div>
</div>
<ul class="user-posts">
  <% @posts.each_with_index do |post, index|%>
    <li>
      <div class="post-info">
        <h3 class="user-post_heading"> <%= link_to "Post ##{index+1}" , user_post_path(@user, post) %></h3>
        <%= button_to "Delete", user_post_path(@user, post), method: :delete %>
        <p class="post-text"><%= post.text %></p>
        <p class="comment-counter">
          comments: <%= post.comments_counter %>,
          likes: <%= post.likes_counter %>
        </p>
      </div>

      <ul class="post-comments-list">
        <%post.last_five_comments.each do |comment|%>
          <li>
            <span class="comment-author"><%= comment.author.name %>:</span>
            <span><%= comment.text %>:</span>
            <% if can? :manage, comment %>
              <%= button_to "Delete", user_post_comment_path(comment.author, post, comment), method: :delete %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <%end%>
</ul>
<a href="#" class="see-all-posts"> Pagination </a>