<section class="post-details">
  <div class="post-info">
    <div class="header">
      <h3 class="post_title">
        Post <strong><%= @post.title %></strong>
        by <strong><%= @post.author.name %></strong>
      </h3>
      <h3 class="comment-counter">
        comments: <%= @post.comments_counter %>
        likes: <%= @post.likes_counter %>
      </h3>
    </div>
    <p class="post_text"><%= @post.text %></p>
  </div>
  <ul class="comments-list">
    <%@post.comments.each do |comment|%>
      <li>
        <span class="author"><%= comment.author.name %>:</span>
        <span><%= comment.text %>:</span>
      </li>
    <% end %>
  </ul>
</li>
</section>