<section class="post-details">
  <div class="post-info">
    <div class="header">
      <h3 class="post-title">
        Post <strong><%= @post.title %></strong>
        by <strong><%= @post.author.name %></strong>
      </h3>
      <p class="comment-counter">
        comments: <%= @post.comments.count %>
        likes: <%= @post.likes_counter %>
      </p>
    </div>
    <p class="post_text"><%= @post.text %></p>
  </div>
  <ul class="comments-list">
    <% @post.comments.each do |comment| %>
      <li>
        <span class="author"><%= comment.author.name %>:</span>
        <span><%= comment.text %>:</span>
        <% if can? :manage, comment %>
          <%= button_to "Delete", user_post_comment_path(@post.author, @post, comment), method: :delete %>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>

<button class="add_comment_button">
  <%= link_to 'Add a Comment', new_user_post_comment_path(@user, @post) %>
</button>

<%= form_with model: @like, url: user_post_likes_path(@user, @post) do |form| %>
  <div class="add_like_button">
    <%= form.button "Add a like !", type: "submit" %>
  </div>
<% end %>


</section>